# Frappe data set stats #
In this notebook we will compute some basic data set statistics

In [1]:
import pandas

In [2]:
df = pandas.read_csv('frappe.csv', sep="\t")
df.head()

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,city
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,0
1,1,1,7,afternoon,saturday,weekend,unknown,free,cloudy,Spain,0
2,2,2,6,evening,monday,workday,unknown,free,cloudy,Spain,369
3,3,3,1,sunset,thursday,workday,unknown,free,unknown,United States,1028
4,4,4,428,night,thursday,workday,home,free,sunny,Switzerland,147

In [3]:
print "In the frappe data set we have {} entries by {} users for {} apps".format(len(df), len(df.user.unique()), len(df.item.unique()))

In the frappe data set we have 96203 entries by 957 users for 4082 apps

The **cnt** column indicates how many times an application was used in a given context by a given user. For example, at line 0, the user0 used item1 once during Friday afternoon when it was cloudy. The user was in an unknown Spanish city.

Please read the paper for further details of the data set, or write questions to linas.baltrunas@gmail.com. Note, that the released data set only approximateley match the data set described in the paper. We removed some users and new users joined since the paper was written.

In [6]:
meta_app = pandas.read_csv('meta.csv', sep="\t")

In [7]:
df = df.merge(meta_app, on='item')

In [8]:
df.head(n=1)

,user,item,cnt,daytime,weekday,isweekend,homework,cost,weather,country,...,category,downloads,developer,icon,language,description,name,price,rating,short desc
0,0,0,1,morning,sunday,weekend,unknown,free,sunny,United States,...,Productivity,"1,000,000 - 5,000,000",Any.DO,http://d2lh3rxs7crswz.cloudfront.net/com.anydo...,en,"Meet Any.DO, the best way to-do To-do's on And...",Any.DO To-do & Tasks List,Free,4.5,Any.DO helps you remember everything you have ...

In [9]:
df.name.value_counts()[:5] #most used apps

Facebook              6430
unknown               6153
Gmail                 5840
WhatsApp Messenger    5563
Chrome                5378
dtype: int64